<html>
  <head>
    <title>Ahoy!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class='container'>
      <div class='header-box center'>
      <h1>File share AF</h1>
      <h4>Sharing is caring!</h4>
      </div>
    </div>
    <div class='container'>{% block content %}{% endblock %}</div>
  </body>
</html>
