{% extends 'base.html' %}
{% block content %}
{% include 'navigation.html' %}

<table class='table hover-table'>
  <thead>
    <tr>
      <th></th>
      <th>File</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
      {% for file in files.files %}
      <tr>
          <td><img src="{{ url_for('static', filename=file.icon) }}"/></td>
          <td><a href='{{ file.href }}'>{{file.name}}</a></td>
          <td>{{file.size}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}

